.lead__title {
    box-sizing: border-box;
    padding: 48px 16px 0 16px;
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (min-width:768px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
        padding: 48px 24px 0 24px;
    }
}

@media screen and (min-width:1024px) {
    .lead__title {
        padding: 48px 152px 0;
    }
}

@media screen and (min-width:1280px) {
    .lead__title {
        padding: 56px 280px 0;
    }
}