.intro__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 0;
  max-width: 288px;
}

@media screen and (min-width:768px) {
  .intro__title {
    max-width: 720px;
    font-size: 54px;
    line-height: 1.07;
  }
}

@media screen and (min-width:1024px) {
  .intro__title {
    max-width: 690px;
  }
}